<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Products List</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" media="all"
          href="../../css/gtvg.css" th:href="@{/css/bootstrap.min.css}" />



</head>
<!-- NAVBAR
================================================== -->
<body>

<div th:replace="fragments/header :: header"></div>


<div class="container-wraper">
    <div class="container">
        <div class="page-header">
            <h1>Product Detail</h1>

            <p class="lead">Here is product information</p>
        </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="../../static/images/guacamole400x400WithX.jpg"
                     th:src="@{'/product/' + ${product.id} + '/productimage'}"
                     width="300" height="200">
            </div>
            <div class="col-md-5">
                <h3 th:text="${product.name}"></h3>
                <p th:text="${product.description}"></p>
                <p th:text="${product.category}"></p>
                <p th:text="${product.stat}"></p>
                <p th:text="${product.cond}"></p>
                <p th:text="${product.price} + ' USD'">Price</p>

            </div>
        </div>
    </div>
        <!-- FOOTER -->
        <div th:replace="fragments/footer :: footer"></div>
    </div>
</div><!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery-1.11.3.minjs"><\/script>')</script>
<script src="js/bootstrap.min.js"></script>

</body>
</html>
